<div class="topPage">
  <div class="reservationWrapper">
    <% @reservations.each do |reservation| %>
      <div class="reservation">
        <div class="reservation_header">
          <h2 class="reservation_header_title"><%= reservation.title %></h2>

          <%# ==========ここから追加する========== %>
          <div class="reservation_header_action">
					  <%= link_to content_tag(:i, '', class: 'fas fa-trash'), reservation, method: :delete, data: { confirm: "#{reservation.title}を削除して大丈夫ですか？" } %>
            <%= link_to(content_tag(:i, '', class: 'fas fa-pen'), edit_reservation_path(reservation)) %>
          </div>
          <%# ==========ここまで追加する========== %>
          
        </div>
      </div>
    <% end %>
  </div>
</div>
